# ignore data
data/*
!data/data_aux.py
!data/data_playground.ipynb
!data/data.py
!data/prepare_do_eval_data.py


# ignore ckpts
model/model_ckpts


# ignore root
mlruns
mlartifacts
__pycache__
.vscode






