# Ignore the data/raw
data/raw
data/merged.raw
data/merged_preprocessed.raw
data/__pycache__
data/ab_string.raw
data/random_words_set/random_words_set.json
data/dataframe/ab_df.json

# stat'ları ignore etme! 
data/preprocess_and_stats/ab_string.raw
data/preprocess_and_stats/merged_preprocessed.raw
data/preprocess_and_stats/merged.raw

data/doc_shards


# tüm data dir'i ignore edip sadece data.py'ı track etmeyi dene, beceremedim şimdilik
